type hal_lineage_camera_motor_realme_sdm710, domain, coredomain;
hal_server_domain(hal_lineage_camera_motor_realme_sdm710, hal_lineage_camera_motor)

type hal_lineage_camera_motor_realme_sdm710_exec, exec_type, file_type;
init_daemon_domain(hal_lineage_camera_motor_realme_sdm710)
