on init
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/etc/placeholder /vendor/overlay/BluetoothResCommon.apk bind
    mount none /system/etc/placeholder /vendor/overlay/CarrierConfigResCommon.apk bind
    mount none /system/etc/placeholder /vendor/overlay/CellBroadcastReceiverResCommon.apk bind
    mount none /system/etc/placeholder /vendor/overlay/ChinaMobileFrameworksRes/ChinaMobileFrameworksRes.apk bind
    mount none /system/etc/placeholder /vendor/overlay/CmccMmsRes.apk bind
    mount none /system/etc/placeholder /vendor/overlay/CmccSettingsTheme/CmccSettingsRes.apk bind
    mount none /system/etc/placeholder /vendor/overlay/CmccSystemUIRes.apk bind
    mount none /system/etc/placeholder /vendor/overlay/CtFrameworksTheme/CtFrameworksRes.apk bind
    mount none /system/etc/placeholder /vendor/overlay/CtNetworkSettingRes/CtNetworkSettingRes.apk bind
    mount none /system/etc/placeholder /vendor/overlay/CtSystemUITheme/CtSystemUIRes.apk bind
    mount none /system/etc/placeholder /vendor/overlay/DialerResCommon.apk bind
    mount none /system/etc/placeholder /vendor/overlay/FrameworksResCommon.apk bind
    mount none /system/etc/placeholder /vendor/overlay/MiuiBluetoothOverlay.apk bind
    mount none /system/etc/placeholder /vendor/overlay/OptInAppOverlay/OptInAppOverlay.apk bind
    mount none /system/etc/placeholder /vendor/overlay/SystemUIResCommon.apk bind
    mount none /system/etc/placeholder /vendor/overlay/TelecommResCommon.apk bind
    mount none /system/etc/placeholder /vendor/overlay/TelephonyResCommon.apk bind
    mount none /system/lib64/hw/power.qcom.so /vendor/lib64/hw/power.qcom.so bind
    mount none /system/lib64/soundfx/libvolumelistener.so /vendor/lib64/soundfx/libvolumelistener.so bind
    mount none /system/lib/soundfx/libvolumelistener.so /vendor/lib/soundfx/libvolumelistener.so bind

    # Boot time FS tune
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sdf/queue/iostats 0
    write /sys/block/sdf/queue/scheduler cfq
    write /sys/block/sdf/queue/iosched/slice_idle 0
    write /sys/block/sdf/queue/read_ahead_kb 2048
    write /sys/block/sdf/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/dm-2/queue/read_ahead_kb 2048

on late-fs
    # Boot time FS tune
    write /sys/block/dm-3/queue/read_ahead_kb 2048

on property:sys.boot_completed=1
    # Runtime FS tuning: as we have init boottime setting and kernel patch setting
    # default readahead to 2048KB. We should adjust the setting upon boot_complete
    # for runtime performance
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sdf/queue/read_ahead_kb 128
    write /sys/block/sdf/queue/nr_requests 128
    write /sys/block/sdf/queue/iostats 1
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128

on property:vold.decrypt=trigger_restart_framework
    restart vendor.audio-hal-2-0

on boot
#for goodix_fp.
    chown system system /dev/goodix_fp

#for egis fp
    chown system system /dev/esfp0

service oppo_fingerprints_sh /vendor/bin/sh /vendor/bin/init.oppo.fingerprints.sh
    class main
    user root
    oneshot

on post-fs-data
    mkdir /data/gf_data 0700 system system
    mkdir /data/system/gf_data 0700 system system
    mkdir /data/images 0700 system system
    mkdir /data/system/silead 0770 system system
    mkdir /persist/silead 0770 system system
    chown system  system /sys/bus/platform/devices/fpc_interrupt/clk_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/wakelock_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq_unexpected
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/irq_enable
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/clk_enable
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/wakelock_enable
    chmod 0600 /sys/bus/platform/devices/fpc_interrupt/irq
    chmod 0660 /sys/bus/platform/devices/fpc_interrupt/irq_unexpected

    mkdir /data/vendor/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/fingerprint 0770 system system
    chown system system /sys/kernel/oppo_display/hbm

    mkdir /data/vendor/silead 0770 system system
    mkdir /mnt/vendor/persist/fingerprint/silead 0770 system system

    mkdir /data/vendor/egis   0770 system system

