on post-fs
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /system/etc/WCNSS_qcom_cfg.ini /vendor/etc/wifi/WCNSS_qcom_cfg.ini bind
    mount none /system/lib64/hw/power.qcom.so /vendor/lib64/hw/power.qcom.so bind
    mount none /system/lib64/soundfx/libvolumelistener.so /vendor/lib64/soundfx/libvolumelistener.so bind
    mount none /system/lib/soundfx/libvolumelistener.so /vendor/lib/soundfx/libvolumelistener.so bind
    mount none /system/bin/hw/android.hardware.usb@1.0-service.realme_sdm710 /vendor/bin/hw/android.hardware.usb@1.0-service bind
    mount none /system/etc/manifest.xml /vendor/etc/vintf/manifest.xml bind
	
on boot
    # Touchscreen
    chown system system /proc/touchpanel/oppo_tp_limit_enable
    chown system system /proc/touchpanel/oppo_tp_limit_area
    chown system system /proc/touchpanel/oppo_tp_limit_enable
    chown system system /proc/touchpanel/oppo_tp_limit_area
    chown system system /proc/touchpanel/double_tap_enable
    chown 0660 /proc/touchpanel/double_tap_enable
    write /proc/touchpanel/double_tap_enable 1

    # Update touchscreen firmware
    chown system system /proc/touchpanel/tp_fw_update
    write /proc/touchpanel/tp_fw_update 1

    # OTG
    write /sys/class/power_supply/usb/otg_switch 1

    # FP
    chown system system /dev/goodix_fp
    chown system system /dev/esfp0

service oppo_fingerprints_sh /vendor/bin/sh /vendor/bin/init.oppo.fingerprints.sh
    class main
    user root
    oneshot

service fps_hal /vendor/bin/hw/vendor.oppo.hardware.biometrics.fingerprint@2.1-service
    class late_start
    user system
    group system input uhid

on post-fs-data
    mkdir /data/gf_data 0700 system system
    mkdir /data/system/gf_data 0700 system system
    mkdir /data/images 0700 system system
    mkdir /data/system/silead 0770 system system
    mkdir /persist/silead 0770 system system
    chown system  system /sys/bus/platform/devices/fpc_interrupt/clk_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/wakelock_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq_unexpected
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/irq_enable
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/clk_enable
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/wakelock_enable
    chmod 0600 /sys/bus/platform/devices/fpc_interrupt/irq
    chmod 0660 /sys/bus/platform/devices/fpc_interrupt/irq_unexpected
    mkdir /data/vendor/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/fingerprint 0770 system system
    chown system system /sys/kernel/oppo_display/hbm
    mkdir /data/vendor/silead 0770 system system
    mkdir /mnt/vendor/persist/fingerprint/silead 0770 system system
    mkdir /data/vendor/egis   0770 system system
